---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import Github from "../icons/Github.astro";
import Linkedln from "../icons/Linkedln.astro";
import Gmail from "../icons/Gmail.astro";
import Code from "../icons/Code.astro";
import Experiencia from "../components/Experiencia.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Profile from "../icons/Profile.astro";
import AboutMe from "../components/AboutMe.astro";
import Route from "../icons/Route.astro";
---

<Layout title="Portafolio de Rodrigo S.S. - Desarollador web y AWS">
  <main class="px-4">
    <SectionContainer className="py-44">
      <h1 class="flex gap-2 md:text-4xl lg:text-5xl font-bold text-3xl mb-8 lg:mb-12 text-white opacity-90">
        ¡Hola!, Soy Rodrigo Santamarina
      </h1>

      <h2 class="text-lg sm:text-xl md:text-xl lg:text-2xl opacity-90 text-pretty">
        Especializado en desarrollo web, pero también apasionado por el desarrollo
        móvil. Con <b>+2 años de experiencia programando</b>, actualmente me
        encuentro <strong>en busca activa de un puesto como desarrollador web</strong>.
    </h2>
    
      <nav class="mt-8 flex gap-3">
        <div
          class="flex items-center border-r-2 border-[#908f8d] border-solid pr-4"
        >
          <Badge>Disponible para trabajar</Badge>
        </div>
        <ul class="flex gap-4 flex-wrap">
          <li>
            <SocialPill href="https://github.com/Rodrigoss06"
              ><Github class="size-4" />Github</SocialPill>
          </li>
          <li>
            <SocialPill
              href="https://www.linkedin.com/in/rodrigo-sucapuca-santamarina-329515211/"
              ><Linkedln class="size-4" />Linkedln</SocialPill>
          </li>
          <li>
            <SocialPill href="/"
              ><Gmail class="size-4" />rodrigo.ss0606@gmail.com</SocialPill>
          </li>
        </ul>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="flex gap-3 text-3xl font-semibold mb-6 text-white opacity-85">
        <Route class="size-12 " /> Mi Trayectoria en Programación y Desarrollo Web
      </h2>
      <Experiencia />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="flex gap-3 mb-8 text-2xl items-center text-white opacity-85">
        <Code /> Proyectos Favoritos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2 class="flex gap-3 mb-8 text-2xl items-center text-white opacity-85">
        <Profile /> Sobre Mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
