
<header class="sticky top-0 z-10 backdrop-filter backdrop-blur-lg flex justify-center items-center xl:w-[1280px] w-full h-full  py-2 mx-auto">
    
    <nav class="flex items-center justify-between max-w-[520px] w-full font-semibold ">
        <a class="hover:bg-white/30 rounded-3xl px-3 py-1 box-content" href="#top">Home</a>
        <a class="hover:bg-white/30 rounded-3xl px-3 py-1 box-content" href="#experiencia">Experiencia</a>
        <a class="hover:bg-white/30 rounded-3xl px-3 py-1 box-content" href="#proyectos">Proyectos</a>
        <a class="hover:bg-white/30 rounded-3xl px-3 py-1 box-content" href="#sobre-mi">Sobre mi</a>
        <a class="hover:bg-white/30 rounded-3xl px-3 py-1 box-content" href="#contacto">Contactame</a>
    </nav>
</header>