<header
  class="sticky md:flex hidden top-0 z-10 backdrop-filter backdrop-blur-lg justify-center items-center xl:w-[1280px] w-full h-full py-2 mx-auto"
>
  <nav
    class="flex items-center justify-between max-w-[520px] w-full font-semibold"
  >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 rounded-3xl px-3 py-1 box-content font-medium flex items-center"
      href="#top"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-square-rounded-arrow-up"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M16 12l-4 -4l-4 4"></path><path d="M12 16v-8"></path><path
          d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
        ></path></svg
      > Home</a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 rounded-3xl px-3 py-1 box-content font-medium flex items-center"
      href="#experiencia"
      ><svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        data-icon="lucide:briefcase"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          ><path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path><rect
            width="20"
            height="14"
            x="2"
            y="6"
            rx="2"></rect></g
        >
      </svg> Experiencia</a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 rounded-3xl px-3 py-1 box-content font-medium flex items-center"
      href="#proyectos"
      ><svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        data-icon="lucide:folder-git"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          ><circle cx="12" cy="13" r="2"></circle><path
            d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Zm-6-7h3M7 13h3"
          ></path></g
        >
      </svg> Proyectos</a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 w-auto rounded-3xl px-3 py-1 box-content font-medium flex items-center justify-center"
      href="#sobre-mi"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="19"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-user"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
          d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg
      > <span class="whitespace-nowrap">Sobre Mí</span></a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 rounded-3xl px-3 py-1 box-content font-medium flex items-center"
      href="#contacto"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >Contactame</a
    >
  </nav>
</header>
<button id="buttonSideMenu" class="fixed md:hidden text-white/80 p-2 w-full top-0">
  <svg
    id="iconSideMenu"
    xmlns="http://www.w3.org/2000/svg"
    width="36"
    height="36    "
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-menu-3"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 6h10"
    ></path><path d="M4 12h16"></path><path d="M7 12h13"></path><path
      d="M4 18h10"></path></svg
  >
</button>
<header
  id="sideMenu"
  class="fixed hidden w-full h-full z-10 bg-[#020202]/40 transform transition-transform duration-500 ease-in-out"
>
  <nav
    class="flex flex-col left-0 h-full items-center max-w-[520px] w-52 bg-[#020202] font-semibold"
  >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 w-full py-4 box-content border-b-[1px] border-white border-solid  font-medium flex items-center justify-center"
      href="#top"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-square-rounded-arrow-up"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M16 12l-4 -4l-4 4"></path><path d="M12 16v-8"></path><path
          d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
        ></path></svg
      > Home</a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 w-full py-4 box-content border-b-[1px] border-white border-solid  font-medium flex items-center justify-center"
      href="#experiencia"
      ><svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        data-icon="lucide:briefcase"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          ><path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path><rect
            width="20"
            height="14"
            x="2"
            y="6"
            rx="2"></rect></g
        >
      </svg> Experiencia</a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 w-full py-4 box-content border-b-[1px] border-white border-solid  font-medium flex items-center justify-center"
      href="#proyectos"
      ><svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        data-icon="lucide:folder-git"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          ><circle cx="12" cy="13" r="2"></circle><path
            d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Zm-6-7h3M7 13h3"
          ></path></g
        >
      </svg> Proyectos</a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 w-full py-4 box-content border-b-[1px] border-white border-solid  font-medium flex items-center justify-center"
      href="#sobre-mi"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="19"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-user"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
          d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg
      > <span>Sobre Mí</span></a
    >
    <a
      class="hover:bg-white/30 text-white/80 gap-1 w-full py-4 box-content border-b-[1px] border-white border-solid  font-medium flex items-center justify-center"
      href="#contacto"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      > Contactame</a
    >
  </nav>
</header>

<script>
  const buttonSideMenu = document.getElementById("buttonSideMenu");
  const menuHtmlElement = document.getElementById("sideMenu");

  buttonSideMenu?.addEventListener("click", () => {
    if (
      menuHtmlElement?.classList.contains("hidden")
    ) {
      menuHtmlElement.classList.remove("hidden");
      menuHtmlElement.classList.add("translate-x-0");
    } else {
      menuHtmlElement!.classList.add("hidden");
      menuHtmlElement!.classList.remove("translate-x-0");
    }
  });

  menuHtmlElement?.addEventListener("click", () => {
    if (
      menuHtmlElement?.classList.contains("hidden")
    ) {
      menuHtmlElement.classList.remove("hidden");
      menuHtmlElement.classList.add("translate-x-0");
    } else {
      menuHtmlElement.classList.add("hidden");
      menuHtmlElement.classList.remove("translate-x-0");
    }
  });
</script>
