<a
  {...Astro.props}
  target="_blank"
  class="inline-flex justify-center gap-x-2 items-center px-2 py-1 md:px-4 md:py-2 text-xs md:text-base transition font-medium  bg-white/5  border-gray-300 rounded-full hover:bg-gray-100  hover:scale-110 hover:bg-white/10 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200">
  <slot />
</a>
